<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-jsptaglibrary_2_0.xsd">
  <tlib-version>1.0</tlib-version>
  <short-name>log</short-name>
  <uri>/WEB-INF/tlds/monitor</uri>
  <!-- A validator verifies that the tags are used correctly at JSP
         translation time. Validator entries look like this: 
      <validator>
          <validator-class>com.mycompany.TagLibValidator</validator-class>
          <init-param>
             <param-name>parameter</param-name>
             <param-value>value</param-value>
	  </init-param>
      </validator>
   -->
  <!-- A tag library can register Servlet Context event listeners in
        case it needs to react to such events. Listener entries look
        like this: 
     <listener>
         <listener-class>com.mycompany.TagLibListener</listener-class> 
     </listener>
   -->
  <tag>
    <name>LogType</name>
    <tag-class>edu.umiacs.ace.monitor.log.LogTypeHandler</tag-class>
    <body-content>scriptless</body-content>
    <attribute>
      <name>type</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>int</type>
    </attribute>
    <attribute>
      <name>verbose</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <type>boolean</type>
    </attribute>
  </tag>
  <tag>
    <name>tree</name>
    <tag-class>edu.umiacs.ace.monitor.access.browse.DirectoryTreeHandler</tag-class>
    <body-content>scriptless</body-content>
    <attribute>
      <name>node</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.Object</type>
    </attribute>
    <attribute>
      <name>var</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
  </tag>
  <tag>
    <name>dirbegin</name>
    <tag-class>edu.umiacs.ace.monitor.access.browse.DirectoryBeginHandler</tag-class>
    <body-content>scriptless</body-content>
  </tag>
  <tag>
    <name>dirend</name>
    <tag-class>edu.umiacs.ace.monitor.access.browse.DirectoryEndHandler</tag-class>
    <body-content>scriptless</body-content>
  </tag>
  <tag>
    <name>summary</name>
    <tag-class>edu.umiacs.ace.monitor.reporting.PrintSummaryHandler</tag-class>
    <body-content>empty</body-content>
    <attribute>
      <name>summary</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>edu.umiacs.ace.monitor.reporting.ReportSummary</type>
    </attribute>
    <attribute>
      <name>attribute</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
  </tag>
  <tag>
    <name>FileSize</name>
    <tag-class>edu.umiacs.ace.util.FileSizeHandler</tag-class>
    <body-content>empty</body-content>
    <attribute>
      <name>value</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>long</type>
    </attribute>
    <attribute>
      <name>unit</name>
      <rtexprvalue>true</rtexprvalue>
      <type>char</type>
    </attribute>
  </tag>
  <tag>
    <name>DateAdd</name>
    <tag-class>edu.umiacs.ace.util.DateAdd</tag-class>
    <body-content>empty</body-content>
    <attribute>
      <name>date</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.util.Date</type>
    </attribute>
    <attribute>
      <name>period</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>int</type>
    </attribute>
    <attribute>
      <name>format</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
  </tag>
  <tag>
    <name>Auth</name>
    <tag-class>edu.umiacs.ace.util.AuthTagHandler</tag-class>
    <body-content>JSP</body-content>
    <attribute>
      <name>role</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <type>java.lang.String</type>
    </attribute>
    <attribute>
      <name>showUnauthenticated</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <type>boolean</type>
    </attribute>
  </tag>
</taglib>
